html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 400px;
  width: 100%;
}

.hidden {
    display: none;
}

 .in-1 {
    width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    z-index: 99;
 }

 .input {
    padding: 0 5px;
    height: 48px;
    border: none;
    border-radius: 2px;
    opacity: 0.95;
 }

 .text-search {
    padding-left: 55px;
    background: url(../images/pointer-icon.png), #FFF;
    background-repeat: no-repeat;
 }

 input.input::before {
     content: "jkljklj";
     display: block;
     position: absolute;
     background: url(../images/pointer.png), 5px 2px, no-repeat;
 }

 .menu-label {
     width: 48px;
     background: url('../images/pointer.png'), no-repeat;
 }
